body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.page {
    margin: 40px;
}
h1 {
    margin: 40px 0 60px 0;
}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.dark-area {
    background-color: #555;
    padding: 40px;
    margin: 0 -40px 20px -40px;
}